.label {
	color: var(--label-color);
	font-weight: 600;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	display: inline-block;
}

.input {
	font-size: 1.6rem;
	border: 0.1rem solid #e3e4e8;
	width: 100%;
	height: 4rem;
	padding: 0.8rem;
	margin-bottom: 0.8rem;
}

.input:focus {
	outline: none;
	border: 1px solid var(--logo-color);
}

.textarea {
	resize: none;
	font-size: 1.6rem;
	border: 1px solid #e3e4e8;
	width: 100%;
	height: 12rem;
	padding: 0.8rem;
	margin-bottom: 0.8rem;
}

.textarea:focus {
	outline: none;
	border: 0.1rem solid var(--logo-color);
}

.error__message {
	font-size: 1.3rem;
	color: red;
}
