.button {
	border: none;
	cursor: pointer;
	color: #ffffff;
	font-size: 2rem;
	font-size: 1.8rem;
	background-color: var(--logo-color);
	border-radius: 1rem;
	width: 100%;
	padding: 1.2rem;
}

.button:focus {
	outline: none;
}
