.product__list {
	display: grid;
	grid-row-gap: 3rem;
}

.product__list p {
	font-size: 1.5rem;
}

.product {
	color: #0f2137;
	background-color: #ffffff;
	border: 1px solid #e3e4e8;
	border-radius: 1rem;
	padding: 3rem 4rem;
	grid-row-gap: 0.5rem;
}

.product__title {
	font-size: 3rem;
	font-weight: 600;
	line-height: 5rem;
	margin-bottom: 2rem;
}

.product__description {
	margin-bottom: 1.5rem;
}

.action_bar {
	display: flex;
	justify-content: flex-start;
	border-top: 1px solid #e3e4ee;
	padding-top: 8px;
}

.actionBarItem {
	cursor: pointer;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
}

.actionBarItem:hover {
	background-color: #f4f5f9;
}

.actionBarItem:global(.active) {
	color: #62bfad;
}

.actionBarItemLabel {
	margin-left: 8px;
}
