@import url('https://fonts.googleapis.com/css2?family=Droppe+Sans:wght@300;400;600&display=swap'); /* Font used in old version of webshop */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--logo-color: #62bfad;
	--label-color: #0f2137;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: #7c7c7c;
	font-family: 'Open Sans', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	background-color: #f8f8f8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100vw;
	overflow-x: hidden;
}
